h1 {{title}}
mixin renderList(fields, path)
  table.table.table-bordered.table-striped.table-hover.table-condensed
    tbody
      thead
        tr
          each field, key in fields
            th=field.lable
      tbody
        tr(ng-repeat="row in #{path}")
          each field, key in fields
            td
              if field.fields
                mixin renderList(field.fields, path + "." + key)
              else
                {{row.#{key}}}

mixin renderObj(fields, path)
  table.table.table-bordered.table-striped.table-hover.table-condensed
    tbody
      each field, key in fields
        tr()
          td()= field.lable
          td
            if field.fields
              mixin renderList(field.fields, path + "." + key)
            else
              {{#{path}.#{key}}}
if fields
  mixin renderObj(fields, 'obj')