.container
  h1.page-header {{title}}
  
  mixin renderObjectArray(typeDef, path)
    table.table.table-bordered.table-striped.table-hover.table-condensed
      tbody
        thead
          tr
            each tdef, key in typeDef.schema
              th=key
        tbody
          tr(ng-repeat="row in #{path}")
            each tdef, key in typeDef.schema
              td
                mixin renderSchema(tdef, "row['" + key + "']")
  
  mixin renderValueArray(typeDef, path)
    - console.log("renderValueArray")
    - console.log(typeDef, path)
    span(ng-repeat="row in #{path}")
      mixin renderSchema(typeDef, "row")

  
  mixin renderArray(typeDef, path)
    - console.log("renderArray")
    - console.log(typeDef, path)
    case typeDef.type
      when 'object'
        mixin renderObjectArray(typeDef, path)
      default
        mixin renderValueArray(typeDef, path)

                

  mixin renderObject(schema, path)
    table.table.table-bordered.table-striped.table-hover.table-condensed
      tbody
        each typeDef, key in schema
          tr
            td=key
            td 
              mixin renderSchema(typeDef, path + "['" + key + "']")


  mixin renderSchema(typeDef, path)
    if typeDef
      case typeDef.type
        when 'object'
          mixin renderObject(typeDef.schema, path)
        when 'array'
          if typeDef.schema
            mixin renderArray(typeDef.schema, path)
        //- when 'date'
        //-   p {{#{path}}}
        //- when 'number'
        //-   p number
        //- when 'string'
        //-   {{#{path}}}
        //- when 'boolean'
        //-   input(type="checkbox", ng-model="#{path}")
        //- when 'null'
        //-   p null
        default
          {{#{path}}}
  if schema
    - console.log("rendering....")
    mixin renderSchema(schema, 'obj')